<?xml version="1.0" encoding="utf-8" ?>
<appearance
    presentAreaKey="UserSpace"
    themeKey="TrendElement"
    name="梦幻水晶"
    previewImage="Preview.png"
    previewLargeImage="Preview.png"
    description=""
    tags=""
    author="admin"
    copyright="tunynet"
    lastModified=""
    version="1.0"
    forProductVersion="4.0">
</appearance>