@model ParsedMedia
@{
    long microblogId = Request.QueryString.Get<long>("microblogId", 0);
    long? forwardMicroblogId = ViewData.Get<long?>("ForwardMicroblogId", null);
    microblogId = forwardMicroblogId ?? microblogId;
}
<dl class="tnc-dynamic-imgbox tn-helper-clearfix">
    <dd class="tnc-bigimg-box tn-border-gray tn-bg-gray">
        <p class="tnc-bigshow-header ">
            <a class="tn-action tn-action-text-icon" href="javascript:;" data-microblogId="@microblogId" id="attachmentsListLiVideoUnfold-@microblogId">
                <span class="tn-icon tn-smallicon-collapse-close"></span><span class="tn-action-text">
                    收起</span> </a>
        </p>
        <ul class="tnc-bigphoto-list">
            <li>
                <embed height="400" width="400" name="videoShow-@microblogId" id="videoShow-@microblogId" allowscriptaccess="sameDomain" wmode="transparent"  allowfullscreen="true" type="application/x-shockwave-flash" src="@Model.PlayerUrl"></embed>
            </li>
        </ul>
    </dd>
</dl>
