[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mazq
[access "refs/for/refs/*"]
	read = group user/mazq
	push = group user/mazq
	label-Code-Review = -2..+2 group user/mazq
	label-Verified = -1..+1 group user/mazq
	rebase = group user/mazq
	removeReviewer = group user/mazq
	submit = group user/mazq
[access "refs/heads/*"]
	read = group user/mazq
	create = group user/mazq
	push = +force group user/mazq
	pushMerge = group user/mazq
[access "refs/tags/*"]
	push = group user/mazq
	push = +force group user/mazq
