/* Tunynet CSS Framework 0.6
----------------------------------*/

/* Reset style */
abbr,acronym{ border: 0; font-variant: normal; }
address,caption,cite,code,dfn,em,th,var{ font-style: normal; font-weight: normal; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{ margin: 0; padding: 0; }
caption,th{ text-align: left; }
fieldset,img{ border: 0; }
h4,h5,h6{ font-size: 100%; }
html{ color: #000; }
input,textarea,select{ font-family: inherit; font-size: inherit; font-weight: inherit; outline: none;}
input,textarea,select{ *font-size: 100%; }
textarea { resize: none; }
legend{ color: #000; }
li{ list-style: none; }
q:before,q:after{ content: ''; }
sub{ vertical-align: text-bottom; }
sup{ vertical-align: text-top; }
table{ border-collapse: collapse; border-spacing: 0; }

/* Fonts style */
body{ font: 12px/1.231 "Microsoft Yahei", Tahoma, Arial, Helvetica, sans-serif; }
h1,h2,h3{ margin: 1em 0; }
h1{ font-size: 138.5%; }
h2{ font-size: 123.1%; }
h3{ font-size: 108%; }
select,input,button,textarea{ font: 99% "Microsoft Yahei", Tahoma, Arial, Helvetica, sans-serif; }
table{ font-size: inherit; font: 100%; }
pre,code,kbd,samp,tt{ font-family: monospace; *font-size: 108%; line-height: 100%; }
a { color: #005a8c; text-decoration: none; }
a:hover { color: #005a8c; text-decoration: underline; }
a:visited, a:active, a:focus { outline: none; }
a.tn-secondary-text { color: #839faf; }
a.tn-invert-text:hover { color: #fff; background: #005a8c; text-decoration: none; }

/* Basic Layout
----------------------------------*/
.tn-block { position: relative; }
.tn-block { _position: static; }
.tn-main .tn-block { position: static; }
.tn-main { width: 100%; }
.tn-template-l .tn-main,
.tn-template-l-150 .tn-main,
.tn-template-l-170 .tn-main,
.tn-template-l-190 .tn-main,
.tn-template-l-230 .tn-main,
.tn-template-l-310 .tn-main { float: right; margin-left: -310px; }
.tn-template-r .tn-main,
.tn-template-r-150 .tn-main,
.tn-template-r-170 .tn-main,
.tn-template-r-190 .tn-main,
.tn-template-r-230 .tn-main,
.tn-template-r-310 .tn-main { float: left; margin-right: -310px; }
.tn-template-l .tn-block { float: left; }
.tn-template-l-150 .tn-block { float: left; width: 150px; }
.tn-template-l-150 .tn-main .tn-block { margin-left: 160px; }
.tn-template-l-170 .tn-block { float: left; width: 170px; }
.tn-template-l-170 .tn-main .tn-block { margin-left: 180px; }
.tn-template-l-190 .tn-block { float: left; width: 190px; }
.tn-template-l-190 .tn-main .tn-block { margin-left: 200px; }
.tn-template-l-230 .tn-block { float: left; width: 230px; }
.tn-template-l-230 .tn-main .tn-block { margin-left: 240px; }
.tn-template-l-310 .tn-block { float: left; width: 310px; }
.tn-template-l-310 .tn-main .tn-block { margin-left: 320px; }
.tn-template-r .tn-block { float: right; }
.tn-template-r-150 .tn-block { float: right; width: 150px; }
.tn-template-r-150 .tn-main .tn-block { margin-right: 160px; }
.tn-template-r-170 .tn-block { float: right; width: 170px; }
.tn-template-r-170 .tn-main .tn-block { margin-right: 180px; }
.tn-template-r-190 .tn-block { float: right; width: 190px; }
.tn-template-r-190 .tn-main .tn-block { margin-right: 200px; }
.tn-template-r-230 .tn-block { float: right; width: 230px; }
.tn-template-r-230 .tn-main .tn-block { margin-right: 240px; }
.tn-template-r-310 .tn-block { float: right; width: 310px; }
.tn-template-r-310 .tn-main .tn-block { margin-right: 320px; }
.tn-main .tn-block { float: none; width: auto; }

/* Grid Layout
----------------------------------*/

/* 1:1 */
.tn-grid-1-1 .tn-grid-1-1,
.tn-grid-1-1 .tn-unit { width: 49.473%; }
.tn-grid-1-1 .tn-grid-1-1 .tn-unit { width: 48.936%; }

/* 1:3 3:1 -- 1:2:1 2:3:3 3:2:2 -- 4:5:3 3:5:4 3:4:5 5:4:3 */
.tn-grid-1-3 div.tn-first,
.tn-grid-3-1 .tn-unit { width: 24.21%; }
.tn-grid-1-3 .tn-unit,
.tn-grid-3-1 div.tn-first,
.tn-grid-1-3 .tn-grid-2-1,
.tn-grid-1-3 .tn-grid-1-1,
.tn-grid-1-3 .tn-grid-4-5,
.tn-grid-1-3 .tn-grid-5-4 { width: 74.736%; }

.tn-grid-1-3 .tn-grid-2-1 .tn-unit { width: 32.394%; }
.tn-grid-1-3 .tn-grid-2-1 div.tn-first { width: 66.197%; }
.tn-grid-1-3 .tn-grid-1-1 .tn-unit,
.tn-grid-3-1 .tn-grid-1-1 .tn-unit{ width: 49.295%; }

.tn-grid-3-1 .tn-grid-4-5 div.tn-first,
.tn-grid-1-3 .tn-grid-5-4 .tn-unit,
.tn-grid-1-3 .tn-grid-4-5 div.tn-first,
.tn-grid-3-1 .tn-grid-5-4 .tn-unit { width: 43.661%; }
.tn-grid-3-1 .tn-grid-4-5 .tn-unit,
.tn-grid-1-3 .tn-grid-5-4 div.tn-first,
.tn-grid-1-3 .tn-grid-4-5 .tn-unit,
.tn-grid-3-1 .tn-grid-5-4 div.tn-first { width: 54.929%; }

/* 1:2 2:1 -- 1:1:1 */
.tn-grid-1-2 div.tn-first,
.tn-grid-2-1 .tn-unit { width: 32.6316%; }
.tn-grid-1-2 .tn-unit,
.tn-grid-2-1 div.tn-first,
.tn-grid-1-2 .tn-grid-1-1 { width: 66.3158%; }
.tn-grid-1-2 .tn-grid-1-1 .tn-unit { width: 49.2063%; }

/* 1:5 5:1 -- 1:4:1 1:3:2 2:7:3 2:5:5 */
.tn-grid-1-5 div.tn-first,
.tn-grid-5-1 .tn-unit,
.tn-grid-1-5 .tn-grid-4-1 .tn-unit { width: 15.789%; }
.tn-grid-1-5 .tn-unit,
.tn-grid-5-1 div.tn-first,
.tn-grid-1-5 .tn-grid-4-1,
.tn-grid-1-5 .tn-grid-3-2,
.tn-grid-1-5 .tn-grid-7-3,
.tn-grid-1-5 .tn-grid-1-1 { width: 83.157%; }

.tn-grid-1-5 .tn-grid-4-1 div.tn-first { width: 79.746%; }
.tn-grid-1-5 .tn-grid-4-1 .tn-unit { width: 18.987%; }
.tn-grid-1-5 .tn-grid-3-2 div.tn-first { width: 59.493%; }
.tn-grid-1-5 .tn-grid-3-2 .tn-unit { width: 39.24%; }
.tn-grid-1-5 .tn-grid-7-3 div.tn-first { width: 69.62%; }
.tn-grid-1-5 .tn-grid-7-3 .tn-unit { width: 29.113%; }
.tn-grid-1-5 .tn-grid-1-1 .tn-unit { width: 49.367% }

/* 3:13 13:3 -- 3:9:4 3:10:3 */
.tn-grid-13-3 .tn-unit,
.tn-grid-3-13 div.tn-first,
.tn-grid-3-13 .tn-grid-10-3 .tn-unit { width: 17.894%; }
.tn-grid-13-3 div.tn-first,
.tn-grid-3-13 .tn-unit,
.tn-grid-3-13 .tn-grid-9-4,
.tn-grid-3-13 .tn-grid-10-3 { width: 81.052%; }

.tn-grid-3-13 .tn-grid-9-4 .tn-unit { width: 29.87%; }
.tn-grid-3-13 .tn-grid-9-4 div.tn-first { width: 68.831%; }
.tn-grid-3-13 .tn-grid-10-3 .tn-unit { width: 22.077%; }
.tn-grid-3-13 .tn-grid-10-3 div.tn-first { width: 76.623%; }

/* 5:19 19:5 -- 5:13:6 5:14:5 */
.tn-grid-19-5 .tn-unit,
.tn-grid-5-19 div.tn-first { width: 20%; }
.tn-grid-19-5 div.tn-first,
.tn-grid-5-19 .tn-unit,
.tn-grid-5-19 .tn-grid-14-5,
.tn-grid-5-19 .tn-grid-13-6 { width: 78.947%; }

.tn-grid-5-19 .tn-grid-13-6 div.tn-first { width: 68%; }
.tn-grid-5-19 .tn-grid-13-6 .tn-unit { width: 30.666%; }
.tn-grid-5-19 .tn-grid-14-5 div.tn-first { width: 73.333%; }
.tn-grid-5-19 .tn-grid-14-5 .tn-unit { width: 25.333%; }

div.tn-first,
.tn-grid div.tn-first,
.tn-grid-1-1 div.tn-first { float: left; }
.tn-unit,
.tn-grid .tn-grid,
.tn-grid-1-1 .tn-grid-1-1,
.tn-grid-1-2 .tn-grid-1-1,
.tn-grid-1-3 .tn-grid-1-1,
.tn-grid-1-3 .tn-grid-2-1,
.tn-grid-1-3 .tn-grid-4-5,
.tn-grid-1-3 .tn-grid-5-4,
.tn-grid-1-5 .tn-grid-1-1,
.tn-grid-1-5 .tn-grid-4-1,
.tn-grid-1-5 .tn-grid-3-2,
.tn-grid-1-5 .tn-grid-7-3,
.tn-grid-3-13 .tn-grid-9-4,
.tn-grid-3-13 .tn-grid-10-3,
.tn-grid-5-19 .tn-grid-14-5,
.tn-grid-5-19 .tn-grid-13-6 { float: right; }

.tn-grid:after,
.tn-grid-1-1:after,
.tn-grid-1-2:after,
.tn-grid-2-1:after,
.tn-grid-1-3:after,
.tn-grid-3-1:after,
.tn-grid-1-4:after,
.tn-grid-4-1:after,
.tn-grid-2-3:after,
.tn-grid-3-2:after,
.tn-grid-1-5:after,
.tn-grid-5-1:after,
.tn-grid-4-5:after,
.tn-grid-5-4:after,
.tn-grid-7-3:after,
.tn-grid-13-3:after,
.tn-grid-3-13:after,
.tn-grid-9-4:after,
.tn-grid-10-3:after,
.tn-grid-19-5:after,
.tn-grid-5-19:after,
.tn-grid-14-5:after,
.tn-grid-13-6:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.tn-grid,
.tn-grid-1-1,
.tn-grid-1-2,
.tn-grid-2-1,
.tn-grid-1-3,
.tn-grid-3-1,
.tn-grid-1-4,
.tn-grid-4-1,
.tn-grid-2-3,
.tn-grid-3-2,
.tn-grid-1-5,
.tn-grid-5-1,
.tn-grid-4-5,
.tn-grid-5-4,
.tn-grid-7-3,
.tn-grid-13-3,
.tn-grid-3-13,
.tn-grid-9-4,
.tn-grid-10-3,
.tn-grid-19-5,
.tn-grid-5-19,
.tn-grid-14-5,
.tn-grid-13-6 { zoom:1; }
.tn-unit { _overflow: hidden; }
		
/* Layout helpers
----------------------------------*/
.tn-helper-hidden, 
.ui-helper-hidden { display: none; }
.tn-helper-hidden-accessible, 
.ui-helper-hidden-accessible { position: absolute; left: -9999px; }
.tn-helper-reset, 
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.tn-helper-clearfix:after, 
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.tn-helper-clearfix, 
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .tn-helper-clearfix, 
* html .ui-helper-clearfix { height:1%; }
.tn-helper-clearfix, 
.ui-helper-clearfix { display:block; }
/* end clearfix */

.tn-helper-clear { clear: both; }
.tn-helper-zfix, 
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.tn-helper-left { float: left; }
.tn-helper-right { float: right; }
.tn-helper-align-left { text-align: left; }
.tn-helper-align-center { text-align: center; }
.tn-helper-align-right { text-align: right; }
.tn-helper-flowfix { overflow: hidden; zoom:1; }

/* Blank block */
.tn-blank1, 
.tn-blank2, 
.tn-blank5, 
.tn-blank10, 
.tn-blank15, 
.tn-blank20 { clear: both; font-size: 1px; line-height: 1px; }
.tn-blank1 { height: 1px; }
.tn-blank2 { height: 2px; }
.tn-blank5 { height: 5px; }
.tn-blank10 { height: 10px; }
.tn-blank15 { height: 15px; }
.tn-blank20 { height: 20px; }

/* Interaction Cues
----------------------------------*/
.tn-cue-disabled, .ui-state-disabled { cursor: default !important; }

/* Icons
----------------------------------*/
.ui-icon,
.tn-icon,
.tn-icon-small,
.tn-icon-big,
.tn-icon-large,
.tn-icon-special,
.tn-icon-colorful{ display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.tn-icon-inline { display: inline-block; margin: 0 2px; vertical-align: middle; }

/* Overlays 
----------------------------------*/
.tn-widget-overlay, .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* tn.widgets_src.css  */
.tn-detail-text .tnc-dynamic-imgbox ul.tnc-bigphoto-list{ padding:0; margin:0 }
.tn-detail-text .tnc-dynamic-imgbox ul.tnc-bigphoto-list li{ list-style:none; }
.tn-detail-text .tnc-dynamic-imgbox p{ margin:0; }