/* Tunynet CSS Framework 0.6
----------------------------------*/

/* Component containers
----------------------------------*/
.tn-widget-content, 
.ui-widget-content { border: 1px solid #cce0ec; background: #fff; }
.tn-widget-bubble,
.tn-widget-same { border-color: #fff; }
.tn-widget-header, 
.ui-widget-header { border: 1px solid #cce0ec; background: url(Images/bg-pipe-eff5f8.png) repeat-x 0 50%; }

/* Background 
----------------------------------*/
.tn-bg-light { background: #f2f7fa; }
.tn-bubble-light { border-color: #f2f7fa; }
.tn-bg-gray { background: #f5f5f5; }
.tn-bubble-gray { border-color: #f5f5f5; }
.tn-bg-deep { background: #0065a2; color: #fff; }
.tn-bubble-deep { border-color: #0065a2; }
.tn-bg-deep a, 
.tn-bg-deep a:hover, 
a.tn-bg-deep, 
a.tn-bg-deep:hover { color: #fff; }
.tn-img-sprite { background-image: url(Images/tn-img-sprite.png); background-repeat: no-repeat; }

/* Border
----------------------------------*/
.tn-border-light { border: solid #cce0ec 1px; }
.tn-border-gray { border: solid #ddd 1px; }
.tn-border-deep { border: solid #0065a2 1px; }
.tn-border-top { border-width: 1px 0 0; }
.tn-border-right { border-width: 0 1px 0 0; }
.tn-border-bottom {  border-width: 0 0 1px; }
.tn-border-left { border-width: 0 0 0 1px; }
.tn-border-tr { border-width: 1px 1px 0 0; }
.tn-border-rb { border-width: 0 1px 1px 0; }
.tn-border-bl { border-width: 0 0 1px 1px; }
.tn-border-tl { border-width: 1px 0 0 1px; }
.tn-border-tb { border-width: 1px 0; }
.tn-border-lr { border-width: 0 1px; }
.tn-border-trl { border-width: 1px 1px 0; }
.tn-border-trb { border-width: 1px 1px 1px 0; }
.tn-border-tbl { border-width: 1px 0 1px 1px; }
.tn-border-rbl { border-width: 0 1px 1px; }
.tn-border-all { border-width: 1px; }
.tn-border-none, 
.tn-widget .tn-border-none { border-width: 0; }
.tn-border-dashed { border-style: dashed; }
.tn-border-dotted { border-style: dotted; }
.tn-separator { font-size: 0; height: 0; line-height: 0; padding: 0; }

/* Interaction Cues
----------------------------------*/
a.tn-instant-note { border: 1px solid #f0ea51; background: #fdfded; color: #cfa846; display: block; line-height: 25px; text-align: center; }
a.tn-instant-note:hover { background: #fcfce1; color: #cfa846; }
.tn-cue-success { border: 1px solid #aacf58; background: #f6faee; } 
.tn-cue-highlight { border: 1px solid #f0ea51; background: #fdfded; }
.tn-cue-error { border: 1px solid #bb0500; background: #fcf2f2; }
.tn-cue-error a, .tn-widget-content .tn-cue-error a,  
.ui-state-error a, .ui-widget-content .ui-state-error a { text-decoration: underline; color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a; } 
.tn-priority-primary, .tn-widget-content .tn-priority-primary,  .ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.tn-priority-secondary, .tn-widget-content .tn-priority-secondary,  .ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.tn-cue-disabled, .tn-widget-content .tn-cue-disabled,  .ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.tn-loading { background: url(Images/ajaxloading.gif) no-repeat center center; min-height: 32px; _height: 32px; }

/* Interaction states
----------------------------------*/
.tn-state-default, .tn-widget-content .tn-state-default,
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #cce0ec; background: #e9f2f7; box-shadow: 0 1px 0 #fff inset; }
.tn-state-default a, .tn-state-default a:link, .tn-state-default a:visited, .tn-state-hover a, .tn-state-hover a:hover, 
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, .ui-state-hover a, .ui-state-hover a:hover { text-decoration: none; }
.tn-state-hover, .tn-widget-content .tn-state-hover, .tn-state-focus, .tn-widget-content .tn-state-focus,  
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #b7d3e3; background: url(Images/bg-pipe-d6e4ec.png) repeat-x 0 50%; }
.tn-state-active, .tn-widget-content .tn-state-active,  
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #cce0ec; background: #fff; color: #333; }
.tn-state-active a, .tn-state-active a:link, .tn-state-active a:visited,  
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #333; text-decoration: none; }
.tn-widget:active,  .ui-widget:active { outline: none; }
.tn-state-disabled a, .tn-state-disabled a:link, .tn-state-disabled a:visited { color: #999; text-decoration: none; cursor: default; }

/* Text Microformat
----------------------------------*/
.tn-text-heading .tn-text-note,
.tn-text-subheading .tn-text-note { font-weight: normal; }
.tn-text-note { color: #999; }
.tn-text-bright { color: #f00; }
.tn-text-bold { font-weight: bold; }
.tn-text-normal { font-weight: normal; }

/* Misc visuals
----------------------------------*/

/* Corner radius */
.tn-corner-tl, .ui-corner-tl { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; }
.tn-corner-tr, .ui-corner-tr { -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.tn-corner-bl, .ui-corner-bl { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.tn-corner-br, .ui-corner-br { -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.tn-corner-top, .ui-corner-top { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.tn-corner-bottom, .ui-corner-bottom { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.tn-corner-right, .ui-corner-right {  -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.tn-corner-left, .ui-corner-left { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.tn-corner-all, .ui-corner-all { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(Images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .3;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(Images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .3; filter: Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }

/* Button
----------------------------------*/
.tn-button { border-width: 1px; border-style: solid;}
.tn-button-default { background: #ebf3f8; border-color: #cce0ec; box-shadow: 0 1px 0 #fff inset; }
.tn-button-default:hover { background: #dceaf2; border-color: #cce0ec; box-shadow: 0 1px 0 #fff inset; }
.tn-button-primary { background: #0065a2; border-color: #004570; box-shadow: 0 1px 0 #65a3c9 inset; }
.tn-button-primary:hover { background: #004f80; border-color: #004570; box-shadow: 0 1px 0 #65a3c9 inset; }
.tn-button-secondary { background: #eee; border-color: #ddd; box-shadow: 0 1px 0 #fff inset; }
.tn-button-secondary:hover { background: #e8e8e8; border-color: #ddd; box-shadow: 0 1px 0 #fff inset; }
.tn-button-primary .tn-button-text, 
.tn-button-primary:hover .tn-button-text { color: #fff; }
.tn-button-secondary .tn-button-text,
.tn-button-secondary:hover .tn-button-text { font-weight: normal; color: #333; }
.tn-button-lite { background: none; border-color: transparent; _border: none; box-shadow: none; }
.tn-button-hollow { background: none; box-shadow: none; }
.tn-button-lite:hover,
.tn-button-hollow:hover { box-shadow: none; }
.tn-button-disabled,
.tn-button-disabled:hover { background: #f8f8f8; border-color: #eee; cursor: default; box-shadow: 0 1px 0 #fff inset; }
.tn-button-disabled .tn-button-text, 
.tn-button-disabled:hover .tn-button-text { color: #ccc; }

/* Icons
----------------------------------*/
/* states and images */
.tn-icon { width: 16px; height: 16px; background-image: url(Icons/25gray/tn-icon-small.png); }
a.tn-icon:hover {background-image: url(Icons/50gray/tn-icon-small.png);}
.tn-icon-big { width: 32px; height: 32px; background-image: url(Icons/25gray/tn-icon-big.png);}
a.tn-icon-big:hover {background-image: url(Icons/50gray/tn-icon-big.png);}
.tn-icon-large { width: 64px; height: 64px; background-image: url(icons/tn-icon-large.png);}
.tn-icon-special { width: 28px; height: 28px; background-image: url(Icons/tn-icon-special.png);}
.tn-icon-colorful { width: 16px; height: 16px; background-image: url(Icons/tn-icons-color.png); }
.tn-bg-deep .tn-icon { background-image: url(icons/white/tn-icon-small.png); }
.tn-bg-deep .tn-icon:hover { background-image: url(icons/25gray/tn-icon-small.png); }
.tn-icon-waiting { background-image: url(Images/ui-anim_basic_16x16.gif); }

/* colorful 16*16 */
.tn-icon-colorful-banned{ background-position: 0px 0px;}
.tn-icon-colorful-moderated{ background-position: -20px 0px;}
.tn-icon-colorful-approve{ background-position: -40px 0px;}
.tn-icon-colorful-secret{ background-position: -60px 0px;}
.tn-icon-colorful-privilege{ background-position: -80px 0px;}
.tn-icon-colorful-private{ background-position: -100px 0px;}
.tn-icon-colorful-manager { background-position: -120px 0px;}
.tn-icon-colorful-assistant { background-position: -140px 0px;}
.tn-icon-colorful-fine{ background-position: 0px -20px;}
.tn-icon-colorful-rec{ background-position: -20px -20px;}
.tn-icon-colorful-top{ background-position: -40px -20px; width: 28px;}
.tn-icon-colorful-coins{ background-position: -80px -20px;}
.tn-icon-colorful-question { background-position: -100px -20px;}
.tn-icon-colorful-best { background-position: -120px -20px;}
.tn-icon-colorful-stop{ background-position: 0px -40px;}
.tn-icon-colorful-pass{ background-position: -20px -40px;}
.tn-icon-colorful-wait{ background-position: -40px -40px;}
.tn-icon-colorful-again{ background-position: -60px -40px;}

/* positioning 16*16 */
.tn-icon-triangle-down { background-position: 0px 0px; }
.tn-icon-triangle-up { background-position: -20px 0px; }
.tn-icon-triangle-right { background-position: -40px 0px; }
.tn-icon-triangle-left { background-position: -60px 0px; }
.tn-icon-collapse-open { background-position: -80px 0px; }
.tn-icon-collapse-close { background-position: -100px 0px; }
.tn-icon-download { background-position: -120px 0px; }
.tn-icon-upload { background-position: -140px 0px; }
.tn-icon-expand { background-position: -160px 0px; }
.tn-icon-fold { background-position: -180px 0px; }
.tn-icon-slide-next { background-position: -200px 0px; }
.tn-icon-slide-prev { background-position: -220px 0px; }
.tn-icon-school { background-position: -240px 0px; }
.tn-icon-write { background-position: 0px -20px; }
.tn-icon-update { background-position: -20px -20px; }
.tn-icon-set { background-position: -40px -20px; }
.tn-icon-config { background-position: -60px -20px; }
.tn-icon-add { background-position: -80px -20px; }
.tn-icon-cross { background-position: -100px -20px; }
.tn-icon-accept { background-position: -120px -20px; }
.tn-icon-last { background-position: -160px -20px; }
.tn-icon-rotate-left { background-position: -180px -20px; }
.tn-icon-rotate-right { background-position: -200px -20px; }
.tn-icon-enlarge { background-position: -220px -20px; }
.tn-icon-friendly { background-position: -240px -20px; }
.tn-icon-email { background-position: 0px -40px; }
.tn-icon-email-open { background-position: -20px -40px; }
.tn-icon-elite { background-position: -40px -40px; }
.tn-icon-top { background-position: -60px -40px; }
.tn-icon-flag { background-position: -80px -40px; }
.tn-icon-lock { background-position: -100px -40px; } 
.tn-icon-key { background-position: -120px -40px; } 
.tn-icon-limit { background-position: -140px -40px; }
.tn-icon-stop { background-position: -160px -40px; }
.tn-icon-coins { background-position: -180px -40px; }
.tn-icon-fire { background-position: -200px -40px; }
.tn-icon-move { background-position: -220px -40px; }
.tn-icon-sneak { background-position: -240px -40px; }
.tn-icon-view { background-position: 0px -60px; }
.tn-icon-thumb-up { background-position: -20px -60px; }
.tn-icon-thumb-down { background-position: -40px -60px; }
.tn-icon-share { background-position: -60px -60px; }
.tn-icon-bubble { background-position: -80px -60px; }
.tn-icon-favorite { background-position: -100px -60px; }
.tn-icon-star { background-position: -120px -60px; }
.tn-icon-feed { background-position: -140px -60px; }
.tn-icon-quotes-before { background-position: -160px -60px; }
.tn-icon-quotes-after { background-position: -180px -60px; }
.tn-icon-topic { background-position: -200px -60px; }
.tn-icon-label { background-position: -220px -60px; }
.tn-icon-forwardc { background-position: -240px -60px; }
.tn-icon-user { background-position: 0px -80px; }
.tn-icon-user-add { background-position: -20px -80px; }
.tn-icon-user-allow { background-position: -40px -80px; }
.tn-icon-user-stop { background-position: -60px -80px; }
.tn-icon-user-relation { background-position: -80px -80px; }
.tn-icon-user-avatar { background-position: -100px -80px; }
.tn-icon-user-invite { background-position: -120px -80px; }
.tn-icon-user-card { background-position: -140px -80px; }
.tn-icon-group { background-position: -160px -80px; }
.tn-icon-chain { background-position: -180px -80px; }
.tn-icon-pen { background-position: -200px -80px; }
.tn-icon-focus { background-position: -220px -80px; }
.tn-icon-pin { background-position: -240px -80px; }
.tn-icon-browse-list { background-position: 0px -100px; }
.tn-icon-browse-detail { background-position: -20px -100px; }
.tn-icon-browse-medium { background-position: -40px -100px; }
.tn-icon-browse-small { background-position: -60px -100px; }
.tn-icon-browse-slide { background-position: -80px -100px; }
.tn-icon-dress { background-position: -100px -100px; }
.tn-icon-zoom { background-position: -120px -100px; }
.tn-icon-photo,
.tn-icon-camera { background-position: -140px -100px; }
.tn-icon-calendar { background-position: -160px -100px; }
.tn-icon-color { background-position: -180px -100px; }
.tn-icon-alert { background-position: 0px -120px; }
.tn-icon-exclamation { background-position: -20px -120px; }
.tn-icon-cross-circle { background-position: -40px -120px; }
.tn-icon-accept-circle { background-position: -60px -120px; }
.tn-icon-apply { background-position: -80px -120px; }
.tn-icon-logout { background-position: -100px -120px; }
.tn-icon-join { background-position: -120px -120px; }
.tn-icon-quit { background-position: -140px -120px; }
.tn-icon-home { background-position: -160px -120px; }
.tn-icon-question { background-position: -180px -120px; }
.tn-icon-notice { background-position: -200px -120px; }
.tn-icon-escalator { background-position: -220px -120px; }
.tn-icon-female { background-position: -240px -120px; }
.tn-icon-jump { background-position: 0px -140px; }
.tn-icon-find { background-position: -20px -140px; }
.tn-icon-emotion { background-position: -40px -140px; }
.tn-icon-paper-clip { background-position: -60px -140px; }
.tn-icon-folder { background-position: -80px -140px; }
.tn-icon-movie { background-position: -100px -140px; }
.tn-icon-picture { background-position: -120px -140px; }
.tn-icon-album { background-position: -140px -140px; }
.tn-icon-world { background-position: -160px -140px; }
.tn-icon-sound { background-position: -180px -140px; }
.tn-icon-music { background-position: -200px -140px; }
.tn-icon-skin { background-position: -220px -140px; }
.tn-icon-male { background-position: -240px -140px; }
.tn-icon-blog { background-position: 0px -160px; }
.tn-icon-archive { background-position: -20px -160px; }
.tn-icon-event { background-position: -40px -160px; }
.tn-icon-bar { background-position: -60px -160px; }
.tn-icon-vote { background-position: -80px -160px; }
.tn-icon-news { background-position: -100px -160px; }
.tn-icon-job { background-position: -120px -160px; }
.tn-icon-app { background-position: -140px -160px; }
.tn-icon-market { background-position: -160px -160px; }
.tn-icon-ask,
.tn-icon-answer { background-position: -180px -160px; }
.tn-icon-microblog { background-position: -200px -160px; }
.tn-icon-at { background-position: -220px -160px; }
.tn-icon-play { background-position: 0px -180px; }
.tn-icon-pause { background-position: -20px -180px; }
.tn-icon-discovery{background-position: -40px -180px;}
.tn-icon-gift,
.tn-icon-pointmall {background-position: -60px -180px;}
.tn-icon-function{background-position: -80px -180px;}
.tn-icon-chart{background-position: -100px -180px;}
.tn-icon-clock{background-position: -120px -180px;}
.tn-icon-pending{background-position: -140px -180px;}
.tn-icon-datasheet{background-position: -160px -180px;}
.tn-icon-system{background-position: -180px -180px;}
.tn-icon-product{background-position: -200px -180px;}
.tn-icon-add-picture{background-position: -220px -180px;}
.tn-icon-exif {background-position: -240px -180px;}

/* positioning 16*16_small */
.tn-smallicon-triangle-down { background-position: 0px -220px; }
.tn-smallicon-triangle-up { background-position: -16px -220px; }
.tn-smallicon-triangle-right { background-position: -32px -220px; }
.tn-smallicon-triangle-left { background-position: -48px -220px; }
.tn-smallicon-collapse-open { background-position: -64px -220px; }
.tn-smallicon-collapse-close { background-position: -80px -220px; }
.tn-smallicon-download { background-position: -96px -220px; }
.tn-smallicon-upload { background-position: -112px -220px; }
.tn-smallicon-expand { background-position: -128px -220px; }
.tn-smallicon-fold { background-position: -144px -220px; }
.tn-smallicon-slide-next { background-position: -160px -220px; }
.tn-smallicon-slide-prev { background-position: -176px -220px; }
.tn-smallicon-first { background-position: -192px -220px; }
.tn-smallicon-last{ background-position: -208px -220px;}
.tn-smallicon-write { background-position: 0px -236px; }
.tn-smallicon-update { background-position: -16px -236px; }
.tn-smallicon-set { background-position: -32px -236px; }
.tn-smallicon-config { background-position: -48px -236px; }
.tn-smallicon-add { background-position: -64px -236px; }
.tn-smallicon-cross { background-position: -80px -236px; }
.tn-smallicon-accept{ background-position: -96px -236px;}
.tn-smallicon-rotate-left{ background-position: -112px -236px;}
.tn-smallicon-rotate-right{ background-position: -128px -236px;}
.tn-smallicon-enlarge{ background-position: -144px -236px;}
.tn-smallicon-label{ background-position: -160px -236px;}
.tn-smallicon-find{background-position: -176px -236px;}
.tn-smallicon-alert{background-position: -192px -236px;}
.tn-smallicon-top{ background-position: -208px -236px;}
.tn-smallicon-elite{background-position: -0px -252px;}
.tn-smallicon-stop{background-position: -16px -252px;}
.tn-smallicon-microblog{background-position: -32px -252px;}
.tn-smallicon-friendly{background-position: -48px -252px;}
.tn-smallicon-sneak{background-position: -64px -252px;}
.tn-smallicon-female{ background-position: -80px -252px;}
.tn-smallicon-male { background-position: -96px -252px;}
.tn-smallicon-album { background-position: -112px -252px;}
.tn-smallicon-move { background-position: -128px -252px;}

/* positioning 32*32_big */
.tn-bigicon-triangle-down { background-position: 0px 0px; }
.tn-bigicon-triangle-up { background-position: -40px 0px; }
.tn-bigicon-triangle-right { background-position: -80px 0px; }
.tn-bigicon-triangle-left { background-position: -120px 0px; }
.tn-bigicon-collapse-open { background-position: -160px 0px; }
.tn-bigicon-collapse-close { background-position: -200px 0px; }
.tn-bigicon-download { background-position: -240px 0px; }
.tn-bigicon-upload { background-position: -280px 0px; }
.tn-bigicon-expand { background-position: -320px 0px; }
.tn-bigicon-fold { background-position: -360px 0px; }
.tn-bigicon-slide-next { background-position: -400px 0px; }
.tn-bigicon-slide-prev { background-position: -440px 0px; }
.tn-bigicon-first { background-position: -480px 0px; }
.tn-bigicon-last{ background-position: -520px 0px;}
.tn-bigicon-write { background-position: 0px -40px; }
.tn-bigicon-update { background-position: -40px -40px; }
.tn-bigicon-set { background-position: -80px -40px; }
.tn-bigicon-config { background-position: -120px -40px; }
.tn-bigicon-add { background-position: -160px -40px; }
.tn-bigicon-cross { background-position: -200px -40px; }
.tn-bigicon-rotate-left{ background-position: -240px -40px;}
.tn-bigicon-rotate-right{ background-position: -280px -40px;}
.tn-bigicon-enlarge{ background-position: -320px -40px;}
.tn-bigicon-email{ background-position: -360px -40px;}
.tn-bigicon-top{ background-position: -400px -40px;}
.tn-bigicon-lock{ background-position: -440px -40px;}
.tn-bigicon-share{background-position: -480px -40px;}
.tn-bigicon-bubble{background-position: -520px -40px;}
.tn-bigicon-favorite{background-position: -0px -80px;}
.tn-bigicon-quotes-before{background-position: -40px -80px;}
.tn-bigicon-quotes-after{background-position: -80px -80px;}
.tn-bigicon-topic{background-position: -120px -80px;}
.tn-bigicon-user{background-position: -160px -80px;}
.tn-bigicon-group{background-position: -200px -80px;}
.tn-bigicon-chain{background-position: -240px -80px;}
.tn-bigicon-zoom{background-position: -280px -80px;}
.tn-bigicon-alert{background-position: -320px -80px;}
.tn-bigicon-exclamation{background-position: -360px -80px;}
.tn-bigicon-cross-circle{background-position: -400px -80px;}
.tn-bigicon-accept-circle{background-position: -440px -80px;}
.tn-bigicon-logout{background-position: -480px -80px;}
.tn-bigicon-quit{background-position: -480px -80px;}
.tn-bigicon-home{background-position: -520px -80px;}
.tn-bigicon-question{background-position: 0px -120px;}
.tn-bigicon-find{background-position: -40px -120px;}
.tn-bigicon-emotion{background-position: -80px -120px;}
.tn-bigicon-folder{background-position: -120px -120px;}
.tn-bigicon-movie{background-position: -160px -120px;}
.tn-bigicon-picture{background-position: -200px -120px;}
.tn-bigicon-album{background-position: -240px -120px;}
.tn-bigicon-sound{background-position: -280px -120px;}
.tn-bigicon-blog{background-position: -320px -120px;}
.tn-bigicon-event{background-position: -360px -120px;}
.tn-bigicon-vote{background-position: -400px -120px;}
.tn-bigicon-news{background-position: -440px -120px;}
.tn-bigicon-job{background-position: -480px -120px;}
.tn-bigicon-app{background-position: -520px -120px;}
.tn-bigicon-answer{background-position: 0px -160px;}
.tn-bigicon-microblog{background-position: -40px -160px;}
.tn-bigicon-at{background-position: -80px -160px;}
.tn-bigicon-play{background-position: -120px -160px;}
.tn-bigicon-pause{background-position: -160px -160px;}
.tn-bigicon-discovery{background-position: -200px -160px;}
.tn-bigicon-skin{background-position: -240px -160px;}
.tn-bigicon-add-picture{background-position: -280px -160px;}
.tn-bigicon-camera{background-position: -320px -160px;}
.tn-bigicon-music{background-position: -360px -160px;}

/* positioning 64*64_large */
.tn-largeicon-lock { background-position: 0px 0px; }
.tn-largeicon-user { background-position: -64px 0px; }
.tn-largeicon-alert { background-position: -128px 0px; }
.tn-largeicon-exclamation { background-position: -192px 0px; }
.tn-largeicon-cross-circle { background-position: -256px 0px; }
.tn-largeicon-accept-circle { background-position: -320px 0px; }

/* positioning 28*28_Special */
.tn-special-icon-app { background-position: 0px 0px; }
.tn-special-icon-home { background-position: -32px 0px; }
.tn-special-icon-blog { background-position: -64px 0px; }
.tn-special-icon-photo { background-position: -96px 0px; }
.tn-special-icon-microblog { background-position: -128px 0px; }
.tn-special-icon-ask { background-position: -160px 0px; }
.tn-special-icon-bar { background-position: -192px 0px; }
.tn-special-icon-group { background-position: -224px 0px; }
.tn-special-icon-event { background-position: -256px 0px; }
.tn-special-icon-share { background-position: -288px 0px; }
.tn-special-icon-user { background-position: -320px 0px; }
.tn-special-icon-archive { background-position: -352px 0px; }
.tn-special-icon-search { background-position: -384px 0px; }
.tn-special-icon-best { background-position: -416px 0px; }
.tn-special-icon-gift,
.tn-special-icon-pointmall { background-position: -448px 0px; }

/* Praise
----------------------------------*/
.tn-thumb-rate .tn-icon-thumb-up,
.tn-thumb-rate a.tn-icon-thumb-up:hover { background-image: url(icons/tn-icon-thumb-up.png); }
.tn-thumb-rate .tn-icon-thumb-down,
.tn-thumb-rate a.tn-icon-thumb-down:hover { background-image: url(icons/tn-icon-thumb-down.png); }
.tn-praise .tn-icon,
.tn-praise a.tn-icon:hover { background-image: url(icons/tn-icon-praise.png); }

.tn-thumb-rate .tn-icon-thumb-up,
.tn-thumb-rate .tn-icon-thumb-down,
.tn-praise .tn-icon { background-position: 0 0; }
.tn-thumb-rate .tn-icon-thumb-up:hover,
.tn-thumb-rate .tn-icon-thumb-down:hover,
.tn-praise .tn-icon:hover { background-position: 0 -20px; }
.tn-thumb-rate a.tn-icon-active,
.tn-thumb-rate a.tn-icon-active:hover,
.tn-praise a.tn-icon-active,
.tn-praise a.tn-icon-active:hover { background-position: 0 -40px; }
.tn-thumb-rate a.tn-icon-disabled,
.tn-thumb-rate a.tn-icon-disabled:hover,
.tn-praise a.tn-icon-disabled,
.tn-praise a.tn-icon-disabled:hover { background-position: 0 -60px; }

/* jQuery UI Icons
----------------------------------*/
.ui-icon { width: 16px; height: 16px; background-image: url(Images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon { background-image: url(Images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(Images/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(Images/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(Images/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(Images/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(Images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background-image: url(Images/ui-icons_cd0a0a_256x240.png); }

.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/* Files icon*/
.tn-mime{ height: 16px; width: 16px; background-image: url("Icons/tn-icon-file.png"); background-repeat: no-repeat; display: block; overflow: hidden;  margin-right:5px;}
/* positioning */
.tn-mime-htm,
.tn-mime-html{background-position: 0 -40px; }
.tn-mime-xml{ background-position: -20px -40px }
.tn-mime-css{ background-position: -40px -40px }
.tn-mime-js{ background-position: -60px -40px;}
.tn-mime-doc{ background-position: -80px 0; }
.tn-mime-csv{ background-position: -20px 0; }
.tn-mime-xls{ background-position: -40px 0; }
.tn-mime-ppt{ background-position: -60px 0; }
.tn-mime-docx{ background-position: -180px 0; }
.tn-mime-xlsx{ background-position: -200px 0; }
.tn-mime-pptx{ background-position:-220px 0; }
.tn-mime-rtf{ background-position: 0 0; }/**/
.tn-mime-pdf{ background-position: -100px 0; }
.tn-mime-txt{ background-position:-160px 0; }
.tn-mime-zip{ background-position:-140px 0; }
.tn-mime-rar{ background-position: -120px 0px;}
.tn-mime-gif{ background-position:-20px -20px; }
.tn-mime-bmp{ background-position:-60px -20px; }
.tn-mime-jpg,
.tn-mime-jpeg{ background-position: 0 -20px; }
.tn-mime-png{ background-position: -40px -20px; }
.tn-mime-swf{ background-position:-80px -20px; }
.tn-mime-mp3,
.tn-mime-wav,
.tn-mime-rm{ background-position: 0px -60px;}
.tn-mime-rmvb,
.tn-mime-mp4,
.tn-mime-mpg4,
.tn-mime-3gp,
.tn-mime-mpeg,
.tn-mime-mpg,
.tn-mime-mpa,
.tn-mime-mpe,
.tn-mime-wmv,
.tn-mime-wma,
.tn-mime-qt,
.tn-mime-asf,
.tn-mime-asr,
.tn-mime-asx{ background-position:-20px -60px; }
.tn-mime-flv,
.tn-mime-mov,
.tn-mime-mvi{ background-position:-40px -60px; }
.tn-mime-pps{background-position: -60px -60px;}
.tn-mime-ppsx{background-position:-80px -60px;}
.tn-mime-unknow{background-position:-80px -40px;}

/* Big files icon */
.tn-mime-big{ height: 36px; width: 36px; background-image: url("Icons/tn-icon-file.png"); background-repeat: no-repeat; display: block; overflow: hidden; margin-right:5px; }
.tn-mime-htm-big{ background-position: -40px -100px; }
.tn-mime-html-big{ background-position: 0px -100px;  }
.tn-mime-xml-big{ background-position: -80px -100px;  }
.tn-mime-css-big{ background-position: -160px -100px;  }
.tn-mime-js-big{ background-position: -120px -100px;  }
.tn-mime-doc-big{ background-position: -160px -180px; }
.tn-mime-csv-big{ background-position: -40px -180px;  }
.tn-mime-xls-big{ background-position: -80px -180px;  }
.tn-mime-ppt-big{ background-position: -120px -180px;  }
.tn-mime-docx-big{ background-position: -160px -220px;  }
.tn-mime-xlsx-big{ background-position: -200px -260px;  }
.tn-mime-pptx-big{ background-position:-200px -180px;  }
.tn-mime-rtf-big{ background-position: 0 -180px;  }
.tn-mime-pdf-big{ background-position: 0 -220px;  }
.tn-mime-txt-big{ background-position: -120px -220px;  }
.tn-mime-zip-big{ background-position: -80px -220px;  }
.tn-mime-rar-big{ background-position: -40px -220px; }
.tn-mime-gif-big{ background-position:-40px -140px; }
.tn-mime-bmp-big{ background-position:-120px -140px; }
.tn-mime-jpg-big, 
.tn-mime-jpeg-big{ background-position: 0 -140px; }
.tn-mime-png-big{ background-position: -80px -140px; }
.tn-mime-swf-big{ background-position: 0 -260px; }
.tn-mime-mp3-big, 
.tn-mime-wav-big,
.tn-mime-rm-big { background-position: -40px -260px; }
.tn-mime-rmvb-big,
.tn-mime-mp4-big,
.tn-mime-mpg4-big,
.tn-mime-3gp-big,
.tn-mime-mpeg-big,
.tn-mime-mpg-big,
.tn-mime-mpa-big,
.tn-mime-mpe-big,
.tn-mime-wmv-big,
.tn-mime-wma-big,
.tn-mime-asf-big,
.tn-mime-asr-big,
.tn-mime-asx-big,
.tn-mime-qt-big { background-position: -80px -260px; }
.tn-mime-flv-big,
.tn-mime-mvi-big,
.tn-mime-mov-big{ background-position: -120px -260px; }
.tn-mime-pps-big{background-position: -160px -260px;}
.tn-mime-ppsx-big{background-position:-200px -220px;}
.tn-mime-unknow-big{background-position:-160px -140px;}

/* Pagination
----------------------------------*/
.tn-pagination span { border-color: #ddd; color: #999; }
.tn-pagination a { border-color: #cce0ec; }
.tn-pagination a:hover { border-color: #0065a2; background: #f2f7fa;  text-decoration: none;}
.tn-pagination span.tn-selected { border-color: #0065a2; background: #0065a2; color: #fff; font-weight: bold; }