@{
    ShareToThirdState shareToThirdState = ViewData.Get<ShareToThirdState>("shareToThirdState", ShareToThirdState.Word);
    ShareToThirdBusiness shareToThirdBusiness = ViewData.Get<ShareToThirdBusiness>("shareToThirdBusiness", ShareToThirdBusiness.Jiathis);   
}
@switch (shareToThirdBusiness)
{
    case ShareToThirdBusiness.Jiathis:
        switch (shareToThirdState)
        {
            case ShareToThirdState.Word:
                <div class="jiathis_style">
                    <span class="jiathis_txt">分享到：</span> 
                    <a class="jiathis_button_tools_1"></a><a class="jiathis_button_tools_2"></a>
                    <a class="jiathis_button_tools_3"></a><a class="jiathis_button_tools_4"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
                    <a class="jiathis_counter_style"></a>
                </div>
                break;
            case ShareToThirdState.Icon:
                <div class="jiathis_style_32x32">
                    <a class="jiathis_button_qzone"></a><a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"> </a>
                    <a class="jiathis_button_renren"></a>
                    <a class="jiathis_button_kaixin001"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
                break;
            case ShareToThirdState.Sidebar:
                <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0" charset="utf-8"></script>
                break;
            default:
                break;
        }

        break;
    case ShareToThirdBusiness.Baidu:
        switch (shareToThirdState)
        {
            case ShareToThirdState.Word:
                <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                    <span class="bds_more">分享到：</span> 
                    <a class="bds_qzone">QQ空间</a> 
                    <a class="bds_tsina">新浪微博</a> 
                    <a class="bds_tqq">腾讯微博</a> 
                    <a class="bds_renren">人人网</a> 
                    <a class="bds_t163">网易微博</a> 
                    <a class="shareCount"></a>
                </div>

                break;
            case ShareToThirdState.Icon:
                <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                    <span class="bds_more">分享到：</span> 
                    <a class="bds_qzone"></a>
                    <a class="bds_tsina"></a>
                    <a class="bds_tqq"></a>
                    <a class="bds_renren"></a>
                    <a class="bds_t163"></a>
                    <a class="shareCount"></a>
                </div>
                break;
            case ShareToThirdState.Sidebar:
                <script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=0&amp;pos=right&amp;uid=0"></script>
                break;
            default:
                break;
        }
        break;
    default:
        break;
}

<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>

<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0"></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000);
</script>
