<?xml version="1.0" encoding="utf-8"?>
<application type="BlogConfig" applicationName="日志"  configType="Spacebuilder.Blog.BlogConfig,Spacebuilder.Blog">
    <tenantAttachmentSettings>
        <add tenantTypeId="100201" storeProviderName="CommonStorageProvider" tenantAttachmentDirectory="Blog">
            <!-- 用于标题图 -->
            <imageSizeType key="Small" width="100" height="100" resizeMethod="Crop"/>
            <!-- 用于标题图 -->
            <imageSizeType key="Medium" width="320" height="280" resizeMethod="Crop"/>
        </add>
    </tenantAttachmentSettings>
    <tenantCommentSettings>
        <add tenantTypeId="100201" EnableSupportOppose="true" ShowLowCommentOnLoad="true" MaxCommentLength="200" EnablePrivate="true" AllowAnonymousComment="true" EntryBoxAutoHeight="true" CommentClass="tn-comment-full" />
    </tenantCommentSettings >
</application>