<div class="tnc-dailog-pd">
    <div class="tnc-upload-attach">
        <select class="tn-dropdownlist">
            <option selected="selected">相册一</option>
            <option>选项</option>
            <option>选项</option>
        </select>
        <div class="tnc-photo-gallery">
            <ul class="tn-photo-list tn-widget tn-helper-clearfix">
                <li class="tn-photo-item tn-selected"><a class="tn-icon tn-icon-cross-circle"></a>
                    <p class="tn-photo-wrap tn-widget-content tn-border-deep tn-bg-light">
                        <a href="#">
                            <img src="../Images/img2.jpg"><span></span></a></p>
                    <p class="tn-text-heading">
                        图片名称</p>
                </li>
                <li class="tn-photo-item">
                    <p class="tn-photo-wrap tn-widget-content tn-border-gray">
                        <a href="#">
                            <img src="../Images/img2.jpg"><span></span></a></p>
                    <p class="tn-text-heading">
                        图片名称</p>
                </li>
                <li class="tn-photo-item">
                    <p class="tn-photo-wrap tn-widget-content tn-border-gray">
                        <a href="#">
                            <img src="../Images/img1.jpg"><span></span></a></p>
                    <p class="tn-text-heading">
                        图片名称</p>
                </li>
                <li class="tn-photo-item">
                    <p class="tn-photo-wrap tn-widget-content tn-border-gray">
                        <a href="#">
                            <img src="../Images/img2.jpg"><span></span></a></p>
                    <p class="tn-text-heading">
                        图片名称</p>
                </li>
                <li class="tn-photo-item">
                    <p class="tn-photo-wrap tn-widget-content tn-border-gray">
                        <a href="#">
                            <img src="../Images/img2.jpg"><span></span></a></p>
                    <p class="tn-text-heading">
                        图片名称</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tnc-artdilog-btn tn-bg-gray tn-border-gray tn-border-top">
    <button type="submit" class="tn-button tn-corner-all tn-button-text-only tn-button-primary">
        <span class="tn-button-text">
            全部插入</span></button>
    <button type="submit" class="tn-button tn-corner-all tn-button-text-only tn-button-secondary">
        <span class="tn-button-text">
            关闭</span></button>
</div>