<div class="tnc-dailog-pd">
    <div class="tnc-upload-attach">
        <select class="tn-dropdownlist">
            <option selected="selected">请选择文件</option>
            <option>选项</option>
            <option>选项</option>
        </select>
        <div class="tn-text-heading tn-border-bottom tn-border-gray">
            <strong>文件列表</strong></div>
        <div class="tnc-file-gallery">
            <ul class="tnc-file-list tn-widget tn-helper-clearfix">
                <li class="tnc-file-item tn-hover"><a class="tn-icon tn-icon-cross-circle"></a>
                    <p class="tnc-file-wrap tn-widget-content tn-border-deep tn-bg-light">
                        <a class="tn-mime-big tn-mime-rar-big"></a>
                    </p>
                    <p class="tn-text-heading">
                        文件名称</p>
                </li>
                <li class="tnc-file-item">
                    <p class="tnc-file-wrap tn-widget-content tn-border-gray">
                        <span class="tn-mime-big tn-mime-rar-big">
                        </span>
                    </p>
                    <p class="tn-text-heading">
                        文件名称</p>
                </li>
                <li class="tnc-file-item">
                    <p class="tnc-file-wrap tn-widget-content tn-border-gray">
                        <span class="tn-mime-big tn-mime-rar-big">
                        </span>
                    </p>
                    <p class="tn-text-heading">
                        文件名称</p>
                </li>
                <li class="tnc-file-item">
                    <p class="tnc-file-wrap tn-widget-content tn-border-gray">
                        <span class="tn-mime-big tn-mime-rar-big">
                        </span>
                    </p>
                    <p class="tn-text-heading">
                        文件名称</p>
                </li>
                <li class="tnc-file-item">
                    <p class="tnc-file-wrap tn-widget-content tn-border-gray">
                        <span class="tn-mime-big tn-mime-rar-big">
                        </span>
                    </p>
                    <p class="tn-text-heading">
                        文件名称</p>
                </li>
                <li class="tnc-file-item">
                    <p class="tnc-file-wrap tn-widget-content tn-border-gray">
                        <span class="tn-mime-big tn-mime-rar-big">
                        </span>
                    </p>
                    <p class="tn-text-heading">
                        文件名称</p>
                </li>
                <li class="tnc-file-item">
                    <p class="tnc-file-wrap tn-widget-content tn-border-gray">
                        <span class="tn-mime-big tn-mime-rar-big">
                        </span>
                    </p>
                    <p class="tn-text-heading">
                        文件名称</p>
                </li>
                <li class="tnc-file-item">
                    <p class="tnc-file-wrap tn-widget-content tn-border-gray">
                        <span class="tn-mime-big tn-mime-rar-big">
                        </span>
                    </p>
                    <p class="tn-text-heading">
                        文件名称</p>
                </li>
                <li class="tnc-file-item">
                    <p class="tnc-file-wrap tn-widget-content tn-border-gray">
                        <span class="tn-mime-big tn-mime-rar-big">
                        </span>
                    </p>
                    <p class="tn-text-heading">
                        文件名称</p>
                </li>
                <li class="tnc-file-item">
                    <p class="tnc-file-wrap tn-widget-content tn-border-gray">
                        <span class="tn-mime-big tn-mime-rar-big">
                        </span>
                    </p>
                    <p class="tn-text-heading">
                        文件名称</p>
                </li>
                <li class="tnc-file-item">
                    <p class="tnc-file-wrap tn-widget-content tn-border-gray">
                        <span class="tn-mime-big tn-mime-rar-big">
                        </span>
                    </p>
                    <p class="tn-text-heading">
                        文件名称</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tnc-artdilog-btn tn-border-gray tn-border-top tn-bg-gray">
    <button type="submit" class="tn-button tn-corner-all tn-button-text-only tn-button-primary">
        <span class="tn-button-text">
            全部插入</span></button>
    <button type="submit" class="tn-button tn-corner-all tn-button-text-only tn-button-secondary">
        <span class="tn-button-text">
            关闭</span></button>
</div>