<colorSchemes>
    <colorScheme isDark="false" imageUrl="~/Themes/UserSpace/Custom/Images/1.png">
        <color label="PageBackground" value="#f2e3bf" />
        <color label="ContentBackground" value="#f8f0e6" />
        <color label="BorderBackground" value="#ebe6d9" />
        <color label="MainTextColor" value="#666" />
        <color label="SubTextColor" value="#ccc" />
        <color label="MainLinkColor" value="#cc6673" />
        <color label="SubLinkColor" value="#efc0ca" />
    </colorScheme>
    <colorScheme isDark="false" imageUrl="~/Themes/UserSpace/Custom/Images/2.png">
        <color label="PageBackground" value="#e7d4ce" />
        <color label="ContentBackground" value="#f9f3f0" />
        <color label="BorderBackground" value="#ebe1da" />
        <color label="MainTextColor" value="#666" />
        <color label="SubTextColor" value="#ccc" />
        <color label="MainLinkColor" value="#a0615c" />
        <color label="SubLinkColor" value="#e5c0bd" />
    </colorScheme>
    <colorScheme isDark="false" imageUrl="~/Themes/UserSpace/Custom/Images/3.png">
        <color label="PageBackground" value="#c4d6da" />
        <color label="ContentBackground" value="#faf3f6" />
        <color label="BorderBackground" value="#d3e4e8" />
        <color label="MainTextColor" value="#666" />
        <color label="SubTextColor" value="#ccc" />
        <color label="MainLinkColor" value="#b9496f" />
        <color label="SubLinkColor" value="#e4c1cf" />
    </colorScheme>
    <colorScheme isDark="false" imageUrl="~/Themes/UserSpace/Custom/Images/4.png">
        <color label="PageBackground" value="#eed45b" />
        <color label="ContentBackground" value="#f8f2cf" />
        <color label="BorderBackground" value="#ddd" />
        <color label="MainTextColor" value="#555" />
        <color label="SubTextColor" value="#ccc" />
        <color label="MainLinkColor" value="#222" />
        <color label="SubLinkColor" value="#edd54f" />
    </colorScheme>
    <colorScheme isDark="false" imageUrl="~/Themes/UserSpace/Custom/Images/5.png">
        <color label="PageBackground" value="#6ebae5" />
        <color label="ContentBackground" value="#eef6fc" />
        <color label="BorderBackground" value="#dae4e9" />
        <color label="MainTextColor" value="#666" />
        <color label="SubTextColor" value="#ccc" />
        <color label="MainLinkColor" value="#16618d" />
        <color label="SubLinkColor" value="#93c9e7" />
    </colorScheme>
    <colorScheme isDark="true" imageUrl="~/Themes/UserSpace/Custom/Images/6.png">
        <color label="PageBackground" value="#523237" />
        <color label="ContentBackground" value="#3c282b" />
        <color label="BorderBackground" value="#62463c" />
        <color label="MainTextColor" value="#bea38f" />
        <color label="SubTextColor" value="#6d625a" />
        <color label="MainLinkColor" value="#b08177" />
        <color label="SubLinkColor" value="#6b4248" />
    </colorScheme>
    <colorScheme isDark="true" imageUrl="~/Themes/UserSpace/Custom/Images/7.png">
        <color label="PageBackground" value="#547b61" />
        <color label="ContentBackground" value="#354e3d" />
        <color label="BorderBackground" value="#385541" />
        <color label="MainTextColor" value="#b0d5ca" />
        <color label="SubTextColor" value="#4d6b57" />
        <color label="MainLinkColor" value="#7aa837" />
        <color label="SubLinkColor" value="#526c4e" />
    </colorScheme>
    <colorScheme isDark="true" imageUrl="~/Themes/UserSpace/Custom/Images/8.png">
        <color label="PageBackground" value="#6a5934" />
        <color label="ContentBackground" value="#4d4228" />
        <color label="BorderBackground" value="#5b4d2d" />
        <color label="MainTextColor" value="#cdc0a2" />
        <color label="SubTextColor" value="#73623e" />
        <color label="MainLinkColor" value="#ac893e" />
        <color label="SubLinkColor" value="#766339" />
    </colorScheme>
</colorSchemes>