<?xml version="1.0" encoding="utf-8" ?>
<theme enablePrintCSS="false" enableChangeLayout="true">
    <layout>
        <page pageCode="1001" layoutMode="453" pageName="站点首页" EnableChangeLayout="true">
            <column>
                <widgetZone>
                    <!--最新文章-->
                    <widget widgetID="9a96d48b47cd98fc"/>
                    <!--最新帖子-->
                    <widget widgetID="ba7e7d78ba1480de" />
                    <!--热门分享视频-->
                    <widget widgetID="b3ed5d70540a4b72" />
                </widgetZone>
            </column>
            <column>
                <widgetZone>                 
                    <!--焦点资讯-->
                    <widget widgetID="584b0aff24d10d97"/>
                    <!--最新文件-->
                    <widget widgetID="44ce11024ba25017" />
                    <!--最新照片-->
                    <widget widgetID="5c44fedc6d8dd365"/>
                </widgetZone>
            </column>
            <column>
                <widgetZone>                                
                    <!--登录-->
                    <widget widgetID="190d0adebc86e64e"/>
                    <!--空间之星-->
                    <widget widgetID="4552a9f8a4e119cf" />
                    <!--最新俱乐部-->
                    <widget widgetID="7a207096a65eedbb" />
                    <!--最新活动-->
                    <widget widgetID="15b36f6d771bdbcc" />
                </widgetZone>
            </column>
        </page>
    </layout>

    <appearances defaultAppearance="default">
		<appearance directoryName="default" title="默认皮肤" cssFileName="style.css" previewImage="PreviewImage.gif" previewLargeImage="PreviewImage.gif" displayOrder="1" />
        <appearance directoryName="Festival" title="喜庆新年" logoUrl="~/Images/logo-light.png" cssFileName="style.css" previewImage="PreviewImage.gif" previewLargeImage="PreviewImage.gif" displayOrder="2" />
        <appearance directoryName="Orange" title="温润香橙" cssFileName="style.css" previewImage="PreviewImage.gif" previewLargeImage="PreviewImage.gif" displayOrder="3" />
        <appearance directoryName="Yellow" title="清黄惬意" cssFileName="style.css" previewImage="PreviewImage.gif" previewLargeImage="PreviewImage.gif" displayOrder="4" />
        <appearance directoryName="Pink" title="粉红装扮" cssFileName="style.css" previewImage="PreviewImage.gif" previewLargeImage="PreviewImage.gif" displayOrder="5" />
        <appearance directoryName="Cyan" title="知识青年" cssFileName="style.css" previewImage="PreviewImage.gif" previewLargeImage="PreviewImage.gif" displayOrder="6" />
        <appearance directoryName="MySpace" title="MySpace" cssFileName="style.css" previewImage="PreviewImage.gif" previewLargeImage="PreviewImage.gif" displayOrder="7" />
		<appearance directoryName="IceBlue" title="IceBlue" cssFileName="style.css" previewImage="PreviewImage.gif" previewLargeImage="PreviewImage.gif" displayOrder="8" />
    </appearances>
</theme>