@model IEnumerable<Spacebuilder.Search.ISearcher>
@{
    Layout = "_ControlPanel";
    string message = Request.QueryString.GetString("message", "执行成功");
    string backUrl = Request.QueryString.GetString("backUrl", "javascript:window.history.go(-1)");
}

<div class="tn-block">
    <div class="tnc-main">
    <div class="tnc-ctn-center">
        <div class="tnc-run-state tnc-run-success">
        <div class="tn-heading tn-helper-clearfix"> <span class="tn-icon-large tn-largeicon-accept-circle"></span><strong>@message</strong> </div>
        <p class="tn-state">3秒钟后将自动跳转，如果没跳转请点击下面链接手动跳转！</p>
        <p class="tn-actions"><a href="#" class="tn-action"><span class="tn-action-text">@Html.Link("跳转到上一页>>", backUrl, "跳转到上一页")</span></a></p>
        </div>
    </div>
    </div>
</div>
  
<script type="text/javascript">
    $(function () {
        setTimeout("location.href = '@backUrl'", 3000);
    })
</script>