<?xml version="1.0" encoding="utf-8"?>
<application type="BarConfig" applicationName="帖吧"  configType="Spacebuilder.Bar.BarConfig,Spacebuilder.Bar">
    <tenantAttachmentSettings>
        <add tenantTypeId="101202" storeProviderName="CommonStorageProvider" tenantAttachmentDirectory="BarThread">
            <imageSizeType key="Small" width="100" height="100" resizeMethod="Crop"/>
        </add>
        <add tenantTypeId="101203" storeProviderName="CommonStorageProvider" tenantAttachmentDirectory="BarPost">
            <imageSizeType key="Small" width="100" height="100" resizeMethod="Crop"/>
        </add>
    </tenantAttachmentSettings>
    <tenantLogoSettings>
        <add tenantTypeId="101201" storeProviderName="CommonStorageProvider" tenantLogoDirectory="BarSectionLogo">
            <imageSizeType key="Medium" width="100" height="100" resizeMethod="KeepAspectRatio"/>
        </add>
    </tenantLogoSettings>
    </application>