<div class="tn-box tn-widget tn-widget-content tn-corner-all tnc-settings-list">
    <div class="tn-box-header tn-widget-header tn-corner-top tn-border-bottom">
        <h3 class="tn-helper-reset">便捷操作</h3>
    </div>
    <div class="tn-box-content tn-widget-content tn-corner-bottom">
        <ul class="tn-side-menu tnc-operation">            
            <li class="tn-border-dashed tn-border-gray tn-border-bottom"><a href="@SiteUrls.Instance().ManageSensitiveWords()">
                <span class="tn-icon tn-smallicon-slide-next" title="敏感词管理"></span>敏感词管理</a>
            </li>
                <li class="tn-border-dashed tn-border-gray tn-border-bottom"><a href="@SiteUrls.Instance().ManageSensitiveWordTypes()">
                    <span class="tn-icon tn-smallicon-slide-next" title="敏感词类别管理"></span>敏感词类别管理</a>
                </li>
        </ul>
    </div>
</div>