@model IEnumerable<ItemInTag>
@{
    bool isSameUser = ViewData.Get<bool>("isSameUser", false);
    User user = ViewData.Get<User>("user", null);

}
@if (user != null && Model != null && Model.Count() > 0)
{
    <div class="tn-box tn-widget tn-widget-content tn-corner-all">
        <div class="tn-box-header tn-widget-header tn-corner-top tn-border-bottom">
            <h3 class="tn-helper-reset">@(user.Profile.ThirdPerson() + "的标签")</h3>
        </div>
        <div class="tn-box-content tn-widget-content tn-corner-bottom">
            <p class="tn-tags-cloud">
                @foreach (var item in Model)
                { 
                    <span class="tn-font-size-2"><a target="_blank" href="@SiteUrls.Instance().UserSearch(item.TagName, UserSearchRange.TAG)">@item.TagName</a></span>
                }
            </p>
        </div>
    </div>
}