<div class="tn-box-header tn-widget-header tn-corner-top tn-border-bottom tn-border-gray">
    <div class="tn-option"><a href="#">更多</a></div>
    <h3 class="tn-helper-reset">可能感兴趣的人</h3>
</div>
<div class="tn-box-content tn-widget-content tn-corner-bottom">
    <ul class="tn-list">
        <li class="tn-list-item tn-helper-clearfix tn-border-bottom">
            <div class="tn-list-item-area-left">
                <div class="tn-avatar">
                    <a href="#">
                        <img src="../Images/spb-img-02.png"></a>
                </div>
            </div>
            <div class="tn-list-item-area-main">
                <div class="tn-list-item-row tn-list-item-heading">
                    <a class="tn-button tn-corner-all tn-button-default tn-button-hollow tn-button-text-icon-primary"
                        href="#"><span class="tn-icon tn-smallicon-add"></span><span class="tn-button-text">
                            关注</span></a>
                    <h5>
                        <a href="HisHome.html">王君(他的主页)</a></h5>
                </div>
                <div class="tn-list-item-row">
                    <a class="tn-secondary-text" href="#">8个共同关注人</a></div>
            </div>
            <div class="tn-widget tn-bubble tn-bubble-arrow-top">
                <div class="tn-bubble-arrow">
                    <b class="tn-arrow-b1 tn-border-gray"></b><b class="tn-arrow-b2 tn-widget-bubble">
                    </b>
                </div>
                <div class="tn-bubble-content tn-widget-content tn-border-gray tn-corner-all">
                    <p>
                        我关注的人中：<a href="#">姓名1</a>、<a href="#">姓名2</a>、<a href="#">姓名3</a>等8人也关注了他
                    </p>
                </div>
            </div>
        </li>
        <li class="tn-list-item tn-helper-clearfix tn-border-bottom">
            <div class="tn-list-item-area-left">
                <div class="tn-avatar">
                    <a href="#">
                        <img src="../Images/spb-img-02.png"></a>
                </div>
            </div>
            <div class="tn-list-item-area-main">
                <div class="tn-list-item-row tn-list-item-heading">
                    <a class="tn-button tn-corner-all tn-button-default tn-button-hollow tn-button-text-icon-primary"
                            href="@SiteUrls.Instance()._AddFollowedUser(Url.SpaceKey(), UserIdToUserNameDictionary.GetUserId(Url.SpaceKey()))" plugin = "dialog", name = "addFollowed", id = "editFollowedGroup">
                        <span class="tn-icon tn-smallicon-add"></span><span class="tn-button-text">关注</span></a>
                    <h5>
                        <a href="#">王帮君</a></h5>
                </div>
                <div class="tn-list-item-row">
                    <a href="#" class="tn-secondary-text">81个共同关注人</a></div>
            </div>
        </li>
        <li class="tn-list-item tn-helper-clearfix tn-border-bottom">
            <div class="tn-list-item-area-left">
                <div class="tn-avatar">
                    <a href="#">
                        <img src="../Images/spb-img-02.png"></a>
                </div>
            </div>
            <div class="tn-list-item-area-main">
                <div class="tn-list-item-row tn-list-item-heading">
                    <a class="tn-button tn-corner-all tn-button-default tn-button-hollow tn-button-text-icon-primary"
                        href="#"><span class="tn-icon tn-smallicon-add"></span><span class="tn-button-text">
                            关注</span></a>
                    <h5>
                        <a href="#">王帮君</a></h5>
                </div>
                <div class="tn-list-item-row">
                    <a href="#" class="tn-secondary-text">8个共同关注人</a></div>
            </div>
        </li>
    </ul>
</div>
