/* 
Offical Style for Spacebuilder
(c) Tunynet Inc.
*/ 

/* Theme
----------------------------------*/
html { overflow-x:hidden;}
body{ color: #666; }
.spb-top-menubar{ background: url(images/spb-page-bg.png) repeat-x 0px 0px;}
.spb-app-page .tn-content-bg{ background: url(images/spb-page-bg.png) repeat-x 0px -36px; }

a{ color:#0065a2; }
a:hover{ color:#0065a2;} 
.tn-box .tn-box-content { background: none ;border:0;}

/* Title
----------------------------------*/
 .tn-box h3{ font-size: 14px; color: #666;}
 

/* Font color
----------------------------------*/
.spb-status a:hover{ color: #0065a2; text-decoration: none; }
.tn-secondary-text a,
.tn-text-note{font-size: 12px; color: #bbb;font-weight: normal;}


/* More text color
----------------------------------*/
.tn-box .tn-box-header .tn-more a{ color:#999; font-weight: normal;font-size: 12px; }

/* Box
----------------------------------*/
.tn-box,
.tn-box-content,
.ui-tabs { background: none ; border-width: 0;}
.tn-box .tn-box-header { background: none; }

/* Component containers
----------------------------------*/
.tn-widget-header, 
.ui-widget-header { border-color: #ddd; background: #f8f8f8; }

/* Line Color
----------------------------------*/
.tn-border-gray {border-color:#DDDDDD;}
.tn-border-light { border-color: #eaeaea ; }
/*.tn-border-deep {  border-color: #e7e7e7; }
.tn-box .tn-widget-header{ border-color:#ddd;}*/

/* Background 
----------------------------------*/
.tn-bg-light{ background: #f8f8f8;}
/*.tn-bg-gray { background: #eee; }
.tn-bg-deep { background: #0065a2; color: #fff; }*/

/* Header
----------------------------------*/
.spb-top-menubar a.spb-menu-link,
.spb-top-menubar a.spb-menu-link:hover { color: #333; }
.spb-top-menubar .spb-menu .tn-selected a.spb-menu-link,
.spb-top-menubar .spb-menu a.spb-menu-link:hover { background: #eee; }
.spb-top-menubar .spb-menu .tn-icon,
.spb-top-menubar .spb-user-menu .tn-icon { background-image: url(../../../../Shared/Styles/icons/50gray/tn-icon-small.png); }
.spb-top-menubar .spb-user-menu .tn-icon:hover { background-image: url(../../../../Shared/Styles/icons/75gray/tn-icon-small.png); }
.spb-user-menu .tn-user-name:hover {padding: 0 2px; line-height: 23px; text-decoration: none; background: #eee; border: #d4d4d4 solid 1px; }
.spb-user-menu .tn-icon-menu.tn-hover { background: #d4d4d4; }

.tn-skin{background: #0065a2; }
.tn-skin a.tnc-skin-link{ background-position: -72px -2px;}
.tn-skin a.tnc-skin-link:hover{ background-position: -107px -2px;}

/* Footer
----------------------------------*/
#tn-footer { border-top: 1px solid #dddddd; color: #666; }

/* tags
----------------------------------*/
.tn-tags a { border: #d3dfec solid 1px; background: #e7eff8;color: #0065A2; }
.tn-tags a:hover { text-decoration: none; color: #333; background: #eee; border-color: #ccc; }

/* Reward
----------------------------------*/
.spb-app-page { background-repeat: repeat-x; background-position: 0 0px; }
.tnc-content-header .spb-submenu a { border: #ddd solid 1px; border-width: 1px 1px 0; border-radius: 3px 3px 0 0; color: #333; }
.tnc-content-header .spb-submenu a:hover { background: #eee; text-decoration: none; }
.tnc-content-header .tn-selected a,
.tnc-content-header .tn-selected a:hover { background: #fff; }

/* Waterfall Style
----------------------------------*/
.tnc-waterfall-list .tnc-fall-trans a.tn-widget-content{ border-color:#FFF; background:none; padding:2px 3px 1px;}
.tnc-waterfall-list .tnc-fall-trans a.tn-widget-content:hover{ border-color:#ccc;background:#f8f8f8;border-radius: 3px; }
.tn-shortcut .tn-action{ background-color: #FFF; }
.tn-shortcut .tn-action:hover{ background-color: #eee; }


/* Dynamic
----------------------------------*/
.tnc-dynamic .tnc-down-blkarrow { background: none repeat scroll 0 0 #e9e9e9; }
.tnc-down-blkarrow a.tn-icon { background-color: #d4d4d4; background-image: url(../../../../Shared/Styles/icons/white/tn-icon-small.png);  }
.tnc-down-blkarrow a.tn-icon:hover { background-color: #0065a2; background-image: url(../../../../Shared/Styles/icons/white/tn-icon-small.png); }

.tnc-dynamic .tnc-down-blkarrow {
    background: none repeat scroll 0 0 #0065A2;
    margin-left: 5px;
}


.spb-group-page .tn-grid-19-5 .tnc-aside{background-color: #f5f5f5;border-radius: 3px; }

