<?xml version="1.0" encoding="utf-8"?>
<application type="MicroblogConfig" applicationName="微博"  configType="Spacebuilder.Microblog.MicroblogConfig,Spacebuilder.Microblog">
  <tenantAttachmentSettings>
    <add tenantTypeId="100101" storeProviderName="CommonStorageProvider" tenantAttachmentDirectory="Microblog"
        enableWatermark="true" maxImageWidth="5000" maxImageHeight="5000" maxAttachmentLength="10240"
        allowedFileExtensions="zip,rar,xml,txt,gif,jpg,jpeg,png,doc,xls,ppt,pdf,swf,mp3,mov,qt,docx,pptx,xlsx,pps">
      <imageSizeType key="Big" width="700" height="2000" resizeMethod="KeepAspectRatio"/>
      <imageSizeType key="Medium" width="100" height="100" resizeMethod="KeepAspectRatio"/>
      <imageSizeType key="Small" width="99" height="99" resizeMethod="KeepAspectRatio"/>
    </add>
  </tenantAttachmentSettings>
  <microblogSquare isWaterfall="false"></microblogSquare>
</application>