<?xml version="1.0" encoding="utf-8" ?>
<!--
emailServiceProviders相关节点：

SiteUrl=服务器的域名或IP ;
DomainName=邮件服务器地址后缀;

smtp相关节点：

Host=smtp服务器的域名或IP;
Port=服务器端口号;
EnableSsl=服务器是否启用ssl;
RequireCredentials=服务器是否需要验证身份;
UserEmailAddress=登录smtp服务器的用户邮件地址;
UserName=smtp服务器的用户名,可以不带@后的域名部分;
Password=登录密码;
-->

<mailSettings >
  <emailServiceProviders>
    <emailServiceProvider  SiteUrl="http://mail.163.com" DomainName="163.com">
      <smtp Host="smtp.163.com" Port="25"  EnableSsl="true" RequireCredentials="true" UserEmailAddress="username@163.com" UserName="username" Password="Password" ForceSmtpUserAsFromAddress="true" />
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://126.com" DomainName="126.com" >
      <smtp Host="smtp.126.com" Port="25"  EnableSsl="true" RequireCredentials="true"  UserEmailAddress="username@126.com" UserName="username" Password="Password" ForceSmtpUserAsFromAddress="true" />
    </emailServiceProvider>
    <emailServiceProvider   SiteUrl="https://mail.qq.com" DomainName="qq.com">
      <smtp Host="smtp.qq.com" Port="25"  EnableSsl="false" RequireCredentials="true" UserEmailAddress="username@qq.com" UserName="username"  Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://gmail.google.com" DomainName="gmail.com" >
      <smtp Host="smtp.gmail.com" Port="465"  EnableSsl="true" RequireCredentials="true" UserEmailAddress="username@gmail.com"  UserName="username@gmail.com"  Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://cn.mail.yahoo.com/" DomainName="yahoo.com.cn">
      <smtp Host="smtp.mail.yahoo.com.cn" Port="465"  EnableSsl="true" RequireCredentials="true"  UserEmailAddress="username@yahoo.com.cn" UserName="username"  Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://www.hotmail.com/" DomainName="hotmail.com" >
      <smtp Host="smtp.live.com" Port="25"  EnableSsl="true" RequireCredentials="true"  UserEmailAddress="username@hotmail.com" UserName="username"   Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://mail.live.com" DomainName="live.com" >
      <smtp Host="smtp.live.com" Port="25"  EnableSsl="true" RequireCredentials="true"  UserEmailAddress="username@live.com" UserName="username"  Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://mail.live.com" DomainName="live.cn" >
      <smtp Host="smtp.live.com" Port="25"  EnableSsl="true" RequireCredentials="true"  UserEmailAddress="username@live.cn" UserName="username"  Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://mail.sina.com.cn/" DomainName="sina.com" >
      <smtp Host="smtp.sina.com" Port="25"  EnableSsl="false" RequireCredentials="true" UserEmailAddress="username@sina.com" UserName="username"   Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://mail.sina.com.cn/" DomainName="vip.sina.com" >
      <smtp Host="smtp.vip.sina.com" Port="25"  EnableSsl="false" RequireCredentials="true" UserEmailAddress="username@vip.sina.com" UserName="username"  Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://mail.139.com/" DomainName="139.com" >
      <smtp Host="smtp.139.com" Port="25"  EnableSsl="False" RequireCredentials="true"  UserEmailAddress="username@139.com" UserName="username"   Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://mail.21cn.com/" DomainName="21.cn.com" >
      <smtp Host="smtp.21cn.com" Port="25"  EnableSsl="false" RequireCredentials="false"  UserEmailAddress="username@21.cn.com" UserName="username"   Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://www.foxmail.com.cn/" DomainName="foxmail.com" >
      <smtp Host="smtp.foxmail.com" Port="25"  EnableSsl="false" RequireCredentials="true" UserEmailAddress="username@foxmail.com" UserName="username"   Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <!--<emailServiceProvider  SiteUrl="http://mail.sohu.com/" DomainName="sohu.com" >
      <smtp Host="smtp.sohu.com" Port="25"  EnableSsl="false" RequireCredentials="true" UserEmailAddress="username@sohu.com" UserName="username" Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>-->
    <emailServiceProvider  SiteUrl="http://mail.yeah.net" DomainName="yeah.net">
      <smtp Host="smtp.yeah.net" Port="25"  EnableSsl="false" RequireCredentials="true" UserEmailAddress="username@yeah.com" UserName="username"  Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <emailServiceProvider  SiteUrl="http://webmail23.189.cn/webmail/" DomainName="189.cn" >
      <smtp Host="smtp.189.cn" Port="25"  EnableSsl="false" RequireCredentials="true" UserEmailAddress="username@189.cn" UserName="username" Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>
    <!--<emailServiceProvider  SiteUrl="http://mail.sogou.com/" DomainName="sogou.com" >
      <smtp Host="smtp.mail.sogou.com" Port="25"  EnableSsl="false" RequireCredentials="true" UserEmailAddress="username@sogou.com"  UserName="username"  Password="Password" ForceSmtpUserAsFromAddress="true"/>
    </emailServiceProvider>-->
  </emailServiceProviders>
</mailSettings>

