<?xml version="1.0" encoding="utf-8" ?>
<TenantLogoSettings>
    <add tenantTypeId="000041" storeProviderName="CommonStorageProvider" tenantLogoDirectory="Tag"
        enableWatermark="true" maxImageWidth="500" maxImageHeight="500" maxAttachmentLength="10240"
        allowedFileExtensions="gif,jpg,jpeg,png">
        <imageSizeType key="Large" width="690" height="100" resizeMethod="KeepAspectRatio"/>
        <imageSizeType key="Medium" width="140" height="130" resizeMethod="KeepAspectRatio"/>
    </add>
    <add tenantTypeId="000011" storeProviderName="CommonStorageProvider" tenantLogoDirectory="User"
      enableWatermark="true" maxImageWidth="500" maxImageHeight="500" maxAttachmentLength="10240"
      allowedFileExtensions="gif,jpg,jpeg,png">
        <imageSizeType key="Big" width="690" height="100" resizeMethod="KeepAspectRatio"/>
        <imageSizeType key="Medium" width="140" height="130" resizeMethod="KeepAspectRatio"/>
    </add>
    <add tenantTypeId="000061" storeProviderName="CommonStorageProvider" tenantLogoDirectory="Recommend"
        enableWatermark="false" maxImageWidth="800" maxImageHeight="800" maxAttachmentLength="10240"
        allowedFileExtensions="gif,jpg,jpeg,png">
        <imageSizeType key="Large" width="690" height="100" resizeMethod="KeepAspectRatio"/>
        <imageSizeType key="Medium" width="100" height="100" resizeMethod="KeepAspectRatio"/>
    </add>
    <add tenantTypeId="000071" storeProviderName="CommonStorageProvider" tenantLogoDirectory="Link"
        enableWatermark="false" maxImageWidth="150" maxImageHeight="50" maxAttachmentLength="10240"
        allowedFileExtensions="gif,jpg,jpeg,png" >
        <imageSizeType key="Medium" width="150" height="50" resizeMethod="KeepAspectRatio"/>
    </add>
    <add tenantTypeId="000081" storeProviderName="CommonStorageProvider" tenantLogoDirectory="Identification"
        enableWatermark="false" maxImageWidth="500" maxImageHeight="500" maxAttachmentLength="10240"
        allowedFileExtensions="gif,jpg,jpeg,png">
      <imageSizeType key="Medium" width="400" height="250" resizeMethod="KeepAspectRatio"/>
    </add>
    <add tenantTypeId="000091" storeProviderName="CommonStorageProvider" tenantLogoDirectory="IdentificationType"
        enableWatermark="false" maxImageWidth="500" maxImageHeight="500" maxAttachmentLength="10240"
        allowedFileExtensions="gif,jpg,jpeg,png">
      <imageSizeType key="Small" width="16" height="16" resizeMethod="KeepAspectRatio"/>
    </add>
    <add tenantTypeId="000073" storeProviderName="CommonStorageProvider" tenantLogoDirectory="Advertising"
          enableWatermark="false" maxImageWidth="9999" maxImageHeight="9999" maxAttachmentLength="10240"
          allowedFileExtensions="gif,jpg,jpeg,png">
    </add>
    <add tenantTypeId="000074" storeProviderName="CommonStorageProvider" tenantLogoDirectory="AdvertisingPosition"
          enableWatermark="false" maxImageWidth="1280" maxImageHeight="1280" maxAttachmentLength="10240"
          allowedFileExtensions="gif,jpg,jpeg,png">
    </add>
    <add tenantTypeId="000075" storeProviderName="CommonStorageProvider" tenantLogoDirectory="Role"
        enableWatermark="false" maxImageWidth="500" maxImageHeight="500" maxAttachmentLength="10240"
        allowedFileExtensions="gif,jpg,jpeg,png">
        <imageSizeType key="Small" width="16" height="16" resizeMethod="KeepAspectRatio"/>
    </add>
</TenantLogoSettings>