<?xml version="1.0" encoding="utf-8" ?>
<mimeTypes>
    <mimeType extensions="htm,html" mimeType="text/html" />
    <mimeType extensions="xml" mimeType="text/xml" />
    <mimeType extensions="css" mimeType="text/css" />
    <mimeType extensions="js" mimeType="text/javascript" />
    <mimeType extensions="doc" mimeType="application/msword" />
    <mimeType extensions="xls,csv" mimeType="application/vnd.ms-excel" />
    <mimeType extensions="ppt" mimeType="application/vnd.ms-powerpoint" />
    <mimeType extensions="docx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
    <mimeType extensions="xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    <mimeType extensions="pptx" mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
    <mimeType extensions="pps" mimeType="application/vnd.ms-powerpoint" />
    <mimeType extensions="ppsx" mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow"/>
    <mimeType extensions="rtf" mimeType="application/msword" />
    <mimeType extensions="pdf" mimeType="application/pdf" />
    <mimeType extensions="txt" mimeType="text/plain" />
    <mimeType extensions="zip" mimeType="application/x-compressed" />
    <mimeType extensions="rar" mimeType="application/x-rar-compressed" />
    <mimeType extensions="gif" mimeType="image/gif" />
    <mimeType extensions="bmp" mimeType="image/bmp" />
    <mimeType extensions="jpg,jpeg" mimeType="image/jpeg" />
    <mimeType extensions="png" mimeType="image/png" />
    <mimeType extensions="swf" mimeType="application/x-shockwave-flash" />
    <mimeType extensions="mp3" mimeType="audio/mpeg" />
    <mimeType extensions="wav" mimeType="audio/wav" />
    <mimeType extensions="rm" mimeType="audio/x-pn-realaudio" />
    <mimeType extensions="flv" mimeType="video/x-flv" />
    <mimeType extensions="rmvb" mimeType="video/vnd.rn-realvideo" />
    <mimeType extensions="mp4,mpg4" mimeType="video/mp4" />
    <mimeType extensions="3gp" mimeType="video/3gpp" />
    <mimeType extensions="mpeg,mpg,mpa,mpe" mimeType="video/mpeg" />
    <mimeType extensions="wmv,wma" mimeType="video/x-ms-wmv" />
    <mimeType extensions="mov,qt" mimeType="video/quicktime" />
    <mimeType extensions="avi" mimeType="video/x-msvideo" />
    <mimeType extensions="asf,asr,asx" mimeType="video/x-ms-asf" />
</mimeTypes>