<?xml version="1.0" encoding="utf-8"?>
<application type="GroupConfig" applicationName="群组" configType="Spacebuilder.Group.GroupConfig,Spacebuilder.Group" minUserRankOfCreateGroup="8" maxDaysOfCreateMemeberActivity="3">
    <tenantLogoSettings>
        <add tenantTypeId="101100" storeProviderName="CommonStorageProvider" tenantLogoDirectory="GroupLogo">
          <imageSizeType key="Medium" width="100" height="100" resizeMethod="KeepAspectRatio"/>
        </add>
    </tenantLogoSettings>
</application>
